<head>
  <%- include('./partials/adheaders'); %>
</head>
<%- include('./partials/header'); %>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center" style="background-color: rgb(211, 245, 255);">
      <img src="logo.png" style="max-width: 50%; display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;" />
      <p>Throwdown TV - Free Speech Livestreaming<i class="fab fa-3x"></i></p>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
  <%- include('./partials/googlead'); %>
</div>