<div class="card-body" style="font-size: 35px;">
    Moderation
</div>
<div class="card-body">
    <span style="color: orange;">/ban [username]</span> - <span style="color: red;">Permanently bans user from your chat</span>
</div>
<div class="card-body">
    <span style="color: orange;">/unban [username]</span> - <span style="color: red;">Unbans user from your chat</span>
</div>
<div class="card-body">
    <span style="color: orange;">/banlist</span> - <span style="color: red;">Shows banlist of current banned members</span>
</div>
<div class="card-body" style="font-size: 35px;">
    Management
</div>
<div class="card-body">
    <span style="color: green;">/promote|mod|addmod [username]</span> - <span style="color: red;">Gives user chat mod permissions</span>
</div>
<div class="card-body">
    <span style="color: green;">/demote|unmod|delmod|removemod [username]</span> - <span style="color: red;">Removes chat mod permissions from user</span>
</div>
