<% if(following !='' ){ %>
    <div class="row show">
        <ul>
            <% following.forEach(function(following) { %>
                <div class="row px-3"> <img src="https://cdn.throwdown.tv/avatar/<%= following %>" style="max-width: 60px; max-height: 60px;" class="rounded-circle profile-pic mr-3" alt="profile picture"> 
                    <div class="flex-column" style="margin-bottom: 0px; margin-left: 10px;">
                        <div class="row">
                            <h3 style="color: lime; font-size: 25px;" href="/<%= following %>" class="lead mb-3">
                                <%= following %>
                            </h3>
                        </div>
                    </div>
                </div>
            <% }) %>
        </ul>
    </div>
<% } else { %>
    <div class="row show">
        You are not following anyone...
    </div>
<% } %>