<% if(following !='' ){ %>
    <div class="row show">
        <ul>
            <% following.forEach(function(following) { %>
                <li><%= following %></li>
                <div class="row px-3"> <img src="<%= avatarurl %>" class="rounded-circle profile-pic mr-3" alt="profile picture"> 
                    <div class="flex-column" style="margin-bottom: 0px; margin-left: 10px;">
                        <div class="row">
                            <h3 style="color: white; font-size: 25px;" class="lead mb-3">
                                <%= following %>
                            </h3>
                        </div>
                        <div class="row">
                            <p id="username_field" style="color: lime; font-size: 15px; margin-right: 10px;" class="lead mb-3"><%= username %> </p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </ul>
    </div>
<% } else { %>
    <div class="row show">
        You are not following anyone...
    </div>
<% } %>