<nav class="navbar navbar-expand-lg navbar-light bg-primary navbar-invers" role="navigation">
    <div class="container-fluid" id="navfluid">
        <a class="navbar-brand" href="/" style="color: white;">Throwdown TV</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/browse">Browse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/following">Following</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tos">TOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://discord.me/throwdowntv">Discord</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a href="/dashboard" class="btn my-2 my-sm-0 btn-secondary">Dashboard</a>
            </form>
        </div>
    </div>
</nav>