@charset "utf-8";
@import "palette.css";

/** Common styles for both the mobile and desktop layout */
#no-active-streams .card-body {
	background-color: #ffcece;
}

.streamer-wrapper {
	background-color: #b1cbe6;
	display: flex;
	/* flex-direction: row; */
	margin: 10px 0;
}

.streamer-wrapper .card-body {
	padding: 0.75rem;
	display: flex;
}

.stream-thumbnail {
	display: inline-flex;
	flex-direction: column;
	max-width: 40%;
	width: 40%;
}

.stream-thumbnail img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.stream-info {
	display: inline-flex;
	flex-direction: column;
	margin-left: 25px;
}

.condensed {
    word-wrap: break-word;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stream-title, .stream-desc, .streamer-name, .live-status {
	margin-bottom: 0 !important;
}

.stream-title a {
	line-height: 1.5;
}

.streamer-name {
	color: green;
	font-weight: bold;
}

.live-status {
	-webkit-text-stroke: 0.2px black;
	-moz-text-stroke: 0.2px black;
	font-weight: bold;
}

.live-status.online {
    color: var(--streamerOnline);
}

.live-status.offline {
    color: var(--streamerOffline);
}






















/* Common desktop layout */
@media only screen and (min-width: 992px){
	/* Variables */
	:root {
		--activeStreamsWidth: 908.47px;
	}

	#active-streams {
		max-width: var(--activeStreamsWidth);
		width: var(--activeStreamsWidth);
	}

	.condensed {
		max-width: 450px;
	}
	
}


/* Larger desktops (ie: horizontal width is greater than or equal to 1500px) */
@media only screen and (min-width: 1500px){

}


/** Small desktops (ie: horizontal width that's less than 1500px, but greater than 991px) */
@media only screen and (min-width: 992px) and (max-width: 1499px){
	/* Variables */
	:root {
		--streamerContentBoxHeight: 110px;
	}
}


/* Common mobile layout styles */
@media only screen and (max-width: 991px){
	/* Variables */
	:root {
		
	}
}


/* Very small devices (eg: iPhone SE, Galaxy Note 3, etc) */
@media only screen and (max-width: 450px){

}