.chat-wrapper {
    display: block;
    background-color: #333;
    width: 100%;
    max-height: 100%;
    height: 100%;
}

.chat-history {
    padding: 0.5rem;
    overflow-y: auto;
    max-height: calc(100% - 50px);
    word-wrap: break-word;
}

.chat-input-form {
    display: flex;
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
}

#chat-input {
    font-size: small;
    background-color: #555;
    padding: 0.5rem;
    border: none;
    margin: 0 0.5rem;
    resize: none;
}

#chat-input,
#chat-input::placeholder {
    color: #fff;
}

#chat-send {
    font-size: small;
    margin-right: 0.5rem;
}

.chat-message {
    font-size: small;
}

.chat-badge, .chat-emoji {
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
}

.chat-emoji {
    margin-left: 0.25rem;
}

.text-orange {
    color: #ff7c46;
}

.text-mod {
    color: #00ff00;
}
