@charset "utf-8";
@import "palette.css";
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Oswald&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--ddblue);
    width: 100%;
    height: 100%;
    font-family: 'Exo 2', sans-serif;
}

.header-logo {
    width: 70px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.breaker {
    width: 100%;
    border-bottom: 2px solid #000;
    margin-bottom: 12.5px;
}

::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: #babac093;
    border-radius: 8px;
}

::-webkit-scrollbar-button {
    display: none;
}

.dashboard-button {
    margin-top: 10px;
    width: 100%;
}

.banned-image {
    max-width: 100%;
    max-height: 100%;
}

.vip-page-p {
    font-size: large;
    align-self: center;
}

.center-align-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--lblue);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--lblue);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/** DEPRECATED **/
.stream-data-condensed {
    word-wrap: break-word;
    display: inline-block;
    max-width: 330px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/** DEPRECATED **/
.stream-data-condensed-mobile {
    word-wrap: break-word;
    display: inline-block;
    max-width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar {
	background-color: var(--dblue);
}