@charset "utf-8";

/** Color palette */
:root {
	/** UI colors **/
	--ddblue: #0E355E;
	--dmblue: #2a6199;
	--dblue: #1F578F;
	--blue: #5B96F5;
	--lblue: #74A3ED;
	--llblue: #9ABDF5;
	--mobile-tab: #00BCF2;

	/** Misc colors **/
	--streamerOnline: #ff3b3b;
	--streamerOffline: #AAAAAA;
}