.chat-popout,
.stream-popout {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0.5rem 0.25;
}

.streamer-button {
    margin-right: 10px;
}

.stream-title {
    font-weight: bold;
    color: white; 
    font-size: 25px;
    white-space: pre-wrap;
}

#stream-display-name {
    font-weight: bold;
    color: lime; 
    font-size: 15px; 
    margin-right: 4px;
}

.info-box {
    margin-top: 5px;
}

.profile-picture {
    position: static;
    width: 10%;
    height: 10%;
}

.description-box {
    color: white;
}

#stream-description{
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 150px;
    margin-right: 50px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word; 
    -ms-hyphens: auto; 
    -moz-hyphens: auto;
}

@media only screen and (min-width: 600px) {

    .chat-popout,
    .stream-popout {
        position: absolute;
        bottom: 0.5rem;
        height: calc(100% - 75px);
    }

    .chat-popout {
        right: 0.5rem;
        width: 30%;
    }

    .stream-popout {
        left: 0.5rem;
        width: 68.5%;
    }
}