<%- include('../partials/header'); %>

<style>
    h1 {
    font-size: 15rem;
    font-weight: bold;
    }

    h3 {
    font-size: 2.5rem;
    }
</style>

<div class="text-center text-light">
    <h1>Woops...</h1>
    <br><br>
    <h3>Your payment has failed or been cancelled..</h3>
</div>
