<%- include('./partials/header'); %>
<div style="margin: 50px;">
    <div>
        <p style="font-size: 40px; text-align: center; color: white;">Channel has been suspended for violating TOS</p>
    </div>
    <div>
        <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="banned.gif">
    </div>
<div></div>