<head>
    <script data-ad-client="ca-pub-3022320816537640" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<%- include('./partials/header'); %>
<div class="row mt-5">
    <div>
        <p>Throwdown TV - Free Speech Livestreaming<i class="fab fa-3x"></i></p>
        <p>TOS<i class="fab fa-3x"></i></p>
    </div>
    <%- include('./partials/googlead'); %>
</div>