<head>
    <%- include('./partials/adheaders'); %>
</head>
<%- include('./partials/header'); %>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <img src="logo.png" style="max-width: 50%; display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;" />
        <p style="color: lime; font-size: 40px; font-weight: bold; margin-bottom: 0px;">Throwdown TV<i class="fab fa-3x"></i></p>
        <p style="color: orange; font-size: 30px; font-weight: bold; margin-top: 0px;">TOS</p>
        <div>
            <p style="color: lightskyblue;">For Streamers:</p>
            <div style="font-size: 20px; font-weight: bold; margin-bottom: 30px;"><span style="color: yellow;">1.</span> Voluntarily broadcasting NSFW/NSFL is <span style="color: red;">PROHIBITED</span>.
                <p style="color: orange; margin: 0px; font-weight: normal;">This Includes:</p>
                <div style="font-size: 15px; font-weight: normal;">
                    <li>Poronography (Both Live action and Animated.)</li>
                    <li>Nudity (any participant on broadcast exposing themselves.)</li>
                    <li>Gore (any visual content involving blood/injury/death.)</li>
                    <li>Disgusting content (including and not limited to: Scat, Vomit and any other bodily fluids.)</li>
                </div>
            </div>
            <div style="font-size: 20px; font-weight: bold; margin-bottom: 30px;"><span style="color: yellow;">2.</span> <span style="color: red;">NO</span> <span style="color: magenta;">Discussing</span>, <span style="color: magenta;">Condoning</span>, or <span style="color: magenta;">Performing</span> Illegal Activity on broadcast.
                <p style="color: orange; margin: 0px; font-weight: normal;">You must follow the laws in your region.</p>
            </div>
            <div style="font-size: 20px; font-weight: bold; margin-bottom: 30px;"><span style="color: yellow;">3.</span> We do not platform <span style="color: red;">Predators</span>, <span style="color: red;">Sex Offenders</span>, <span style="color: red;">Criminals</span> etc...
                <p style="color: orange; margin: 0px; font-weight: normal;">Regardless of conviction status, if there is evidence of Illegal/Predatory behaviour/actions or a criminal record, you will not be allowed to have a platform. Illegal behaviour includes but not limited to:</p>
                <div style="font-size: 15px; font-weight: normal;">
                    <li>Child Abuse/Predatory Behaviour towards Minors (Physical/Verbal/Mental Abuse)</li>
                    <li>Sexual Assault/Battery</li>
                    <li>Manslaughter</li>
                    <li>Domestic Assault/Battery</li>
                    <li>On Government Wanted List</li>
                </div>
            </div>
            <div style="font-size: 20px; font-weight: bold; margin-bottom: 30px;"><span style="color: yellow;">4.</span> Do not do dedicated broadcasts for <span style="color: red;">Copyrighted Material</span>.
                <p style="color: orange; margin: 0px; font-weight: normal;">This includes:</p>
                <div style="font-size: 15px; font-weight: normal;">
                    <li>Movies</li>
                    <li>TV Shows</li>
                    <li>Copyrighted Music</li>
                </div>
            </div>
            <p style="color: lime; margin: 0px; font-weight: bold;">&copy; Datcen Haven Technologies Private Limited - Chennai, India</p>
        </div>
      </div>
    </div>
    <%- include('./partials/googlead'); %>
  </div>