<%- include('../partials/header'); %>

<style>
    h1 {
    font-size: 6rem;
    font-weight: bold;
    color: limegreen;
    }

    h3 {
    font-size: 2.5rem;
    }
</style>

<div class="text-center text-light">
    <br>
    <h1>Welcome!</h1>
    <br><br>
    <h3>You are now a VIP!</h3>
</div>
