<footer class="footer page-footer font-small blue pt-4">
    <div class="footer-copyright text-center py-3">&copy; 2021 Throwdown Media<br> <a href="/tos">ToS</a> - <a href="https://discord.me/throwdowntv">Discord</a> - <a href="https://twitter.com/ThrowdownLive">Twitter</a></div>
</footer>