<div class="card-body">
    US 01: rtmp://us01.throwdown.tv/live
</div>
<div class="card-body">
    US 02: rtmp://us02.throwdown.tv/live
</div>
<div class="card-body">
    EU 01: rtmp://eu01.throwdown.tv/live
</div>