<%- include('./partials/header'); %>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center" style="background-color: #b1cbe6;">
            <img src="/assets/img/logo.png" alt="ThrowdownTV logo" style="width: 150px; height: 150px; margin: auto;">
            <h1 style="font-size: 300px; color: red;">404</h1>
            <p>Not Found</p>
        </div>
    </div>
</div>