<%- include('./partials/header'); %>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center" style="background-color: #b1cbe6;">
            <img class="banned-image" src="/assets/img/banned.webp" alt="Banned Lol"
                style="width: 450px; height: 450px; margin: auto;">
            <h1 class="text-danger" style="font-size: 2em;">This Channel has been closed due to TOS violations</h1>
            <p><b>Ya done goofed buddy...</b></p>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {
        const streamer = window.location.pathname.split(`/`)[1].toLowerCase();
        setInterval(() => {
            fetch(`/api/public-stream-data/${streamer}`).then(data => data.json()).then(data => {
                if (!data.isSuspended) return window.location.reload(true);
                console.log("Still banned")
            })
        }, 5000)
    });
</script>