<%- include('./partials/header'); %>
<br>
<h1 class="text-light text-center">Browse Streams</h1>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="no-active-streams card card-body text-center" style="background-color: #ffcece;">
            <span>Nobody is live right now...</span>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-6 m-auto" style="max-width: 650px;">
        <div class="active-streams"></div>
    </div>
</div>
<script>
    $(document).ready(() => $(`.no-active-streams`).hide());
    fetch(`/api/streams`).then(data => data.json()).then(data => {
        if (data.length === 0) return $(`.no-active-streams`).show();

        for (const streamer of data) {
            let streamerWrapper = $(`<div>`);
            let statusColor = `red`;
            let status = `OFFLINE`;

            if (streamer.isLive) {
                statusColor = `lime`;
                status = `LIVE`;
            }

            streamerWrapper.addClass(`card card-body`);
            streamerWrapper.attr(`style`, `background-color: #b1cbe6; display: flex; flex-direction: row;`);
            streamerWrapper.html(`
                <img src="https://${streamer.rtmpServer}.throwdown.tv/api/thumbnail/${streamer.name}" alt="Throwdown thumbnail" style="max-width: 40%; max-height: 40%;" alt="${streamer.displayName} Thumbnail" onerror=this.src="/assets/img/thumbnail.png">
                <div style="margin-left: 25px;">
                    <h2><a href="/${streamer.name}" class="stream-data-condensed">${streamer.title}</a></h2>
                    <p class="stream-data-condensed">${streamer.description}
                    <br>
                    <b style="color: green;">${streamer.displayName}</b></p>
                    <br>
                    <b style="-webkit-text-stroke: 0.2px black; color: ${statusColor};">${status}</b></p>
                </div>
            `);

            $(`.active-streams`).append(streamerWrapper);
            $(`.active-streams`).append(`<br>`);
        }
    });
</script>