<link rel="stylesheet" href="/assets/css/chat.css">
<div class="chat-wrapper">
    <div class="chat-history"></div>
    <form class="chat-input-form">
        <textarea id="chat-input" placeholder="Send a message" class="form-control text-light" rows="1"></textarea>
        <input type="submit" id="chat-send" class="btn btn-sm btn-secondary" value="Chat">
    </form>
</div>

<script>
    fetch(`/authenticated`).then(data => data.json()).then(data => {
        const username = data.username;
        const token = data.token;
        const streamer = window.location.href.split(`/`)[4];

        const socket = io.connect(`${window.location.protocol}//${window.location.hostname}:8443`, {
            secure: true,
            rejectUnauthorized: true,
            withCredentials: true
        });

        socket.emit(`connectToChat`, username, token, streamer);

        socket.on(`handshake`, () => {
            console.log(`Succesfully connected to the chat server.`);
            $(`#chat-input`).focus();

            const sendChatMessage = () => {
                socket.emit(`chatMessage`, $(`#chat-input`).val());
                $(`#chat-input`).val(``);
            }

            $(`#chat-input`).keydown(e => {
                if (e.key === `Enter`) {
                    e.preventDefault();
                    sendChatMessage();
                }
            });

            $(`#chat-send`).on(`click`, e => {
                e.preventDefault();
                sendChatMessage();
            });

            // Receive chat messages.
            socket.on(`chatMessage`, data => {
                const user = data.user;
                const message = data.message;

                let messageWrapper = $(`<div>`);
                
                messageWrapper.addClass(`text-light`);
                messageWrapper.text(`${user.username}: ${data.message}`);

                $(`.chat-history`).append(messageWrapper);
            });
        });
    });
</script>