<link rel="stylesheet" href="/assets/css/chat.css">
<div class="chat-wrapper">
    <div class="chat-history"></div>
    <form class="chat-input-form">
        <textarea id="chat-input" placeholder="Send a message" class="form-control text-light" rows="1"></textarea>
        <input type="submit" id="chat-send" class="btn btn-sm btn-secondary" value="Chat">
    </form>
</div>

<script>
    const socket = io.connect(`${window.location.protocol}//${window.location.hostname}:8443`, {
        secure: true,
        rejectUnauthorized: true,
        withCredentials: true
    });

    $(`#chat-input`).keydown(e => {
        if (e.key === `Enter`) {
            e.preventDefault();
            // Send a socket emit here.
        }
    });
    $(`#chat-send`).on(`click`, e => {
        e.preventDefault();
        // Send another socket emit here.
    });

    socket.on(`handshake`, () => console.log(`Succesfully connected to the chat server.`));
</script>