<%- include('./partials/header'); %>
<style>
    .center{
        display: flex;
        width: 100%;
        justify-content: center;
    }
</style>
<br>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body" style="background-color: #b1cbe6;">
            <p class="vip-page-p text-center" style="font-size: 40px;">Contact</p>
            <br>
            <p class="vip-page-p" style="font-size: 20px;">You can contact us by many methods.</p>
            <br>
            <p class="text-center">For support, email us at <strong>support@throwdownmedia.net</strong>.</p>
            <p class="text-center">For general inquiries, email us at <strong>contact@throwdownmedia.net</strong>.</p>
            <p class="text-center">Alternatively, we have a <a href="https://discord.me/throwdowntv">Discord Server</a> for quicker responses for either type of query.</p>
            <p class="text-center">You can also follow us on <a href="https://twitter.com/ThrowdownLive">Twitter</a> for updates on the platform. or announcements for <strong>Community Events</strong>.</p>
            <br>
        </div>
    </div>
</div>

<%- include('./partials/footer'); %>