<%- include('./partials/header'); %>

<br>
<h1 class="text-center text-light">Dashboard</h1>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body" style="background-color: #b1cbe6;">
            <h2 class="text-center">Stream Settings</h2>
            <form action="/dashboard" method="post" id="dashboard-form">
                <div class="form-group">
                    <label for="stream-title">Stream Title</label>
                    <input type="text" id="stream-title" name="stream-title" class="form-control"
                        placeholder="Enter a title" maxlength="80">
                    <br>
                    <label for="stream-description">Stream Description</label>
                    <textarea type="text" id="stream-description" name="stream-description"
                        placeholder="Enter a description" class="form-control"></textarea>
                    <br>
                    <label for="donation-link">Donation Link</label>
                    <input type="text" id="donation-link" name="donation-link" class="form-control"
                        placeholder="Enter a URL to your donation page">
                    <br>
                    <input type="submit" id="dashboard-update-info" value="Update Stream Information"
                        class="btn btn-primary btn-block">
                    <a id="visit-livestream" type="button" class="btn btn-success dashboard-button" role="button">Livestream Page</a>
                </div>
            </form>
        </div>
        <br>
        <div class="card card-body" style="background-color: #b1cbe6;">
            <h2 class="text-center">RTMP Servers</h2>
            <br>
            <div class="rtmp-servers text-center" style="display: flex; justify-content: space-around;">
                <div class="card p-8" style="padding: 16px;">
                    <span><b>US 01:</b></span>
                    <span><code>rtmp://us01.throwdown.tv/live</code></span>
                </div>
            </div>
        </div>
        <br>
        <div class="card card-body" style="background-color: #b1cbe6;">
            <h2 class="text-center">Stream Key</h2>
            <br>
            <label for="stream-key">Stream Key</label>
            <form action="/changestreamkey" method="post" id="streamkey-update-form">
                <div class="form-group">
                    <input type="password" class="form-control" id="stream-key" readonly>
                    <p><input type="checkbox" id="reveal-stream-key"> Reveal Stream Key</p>
                    <input type="submit" value="Reset Stream Key" id="reset-streamkey" class="btn btn-danger btn-block">
                </div>
            </form>
            <p>Do <b>NOT</b> share your stream key with anyone. This key allows anyone to broadcast on your channel.</p>
        </div>
        <br>
        <div class="card card-body" style="background-color: #b1cbe6;">
            <h2 class="text-center">Widgets</h2>
            <br>
            <label for="chat-link">Chat Widget</label>
            <input type="text" class="form-control" id="chat-link" readonly>
        </div>
        <br>
        <div class="card card-body" style="background-color: #b1cbe6;">
            <h2 class="text-center">Account Settings</h2>
            <label for="display-name" style="font-size: 30px;">Current Username: <span id="current-username" style="color: red;"></span></label>
            <form action="/accountoptions/displayname" method="post" id="account-options-form">
                <div class="form-group">
                    <label for="display-name">Display Name <span style="font-style: italic;">(You may only change the Capitalization)</span></label>
                    <input type="text" id="display-name" name="display-name" class="form-control"
                        placeholder="Change name Capitalization" maxlength="80">
                    <br>
                    <input type="submit" id="account-update-info" value="Update Display Name"
                        class="btn btn-primary btn-block">
                </div>
            </form>
            <form action="/accountoptions/updatepfp" method="post" id="account-pfp-form" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="profilepicture">Profile Avatar <span style="font-style: italic;">(Allowed file types: .jpg, .png, .jpeg)</span></label>
                    <div class="form-group">
                        <label for="account-pfp-form">Choose Image...</label>
                        <input type="file" id="avatar" name="avatar" class="form-control-file">        
                    </div>
                    <br>
                    <input type="submit" for="account-pfp-form" id="account-update-pfp" value="Update Profile Picture"
                        class="btn btn-primary btn-block">
                </div>
            </form>
        </div>
        <br>
    </div>
</div>

<script>
    fetch(`/authenticated`).then(data => data.json()).then(data => {
        let chatURL = `https://throwdown.tv/widgets/chat/${data.username}/`;
        $(`#chat-link`)
            .val(chatURL)
            .attr(`href`, chatURL);
        $(`#visit-livestream`).attr(`href`, `/${data.username}`);

        fetch(`/api/stream-data`).then(data => data.json()).then(data => {
            $(`#current-username`).text(data.username);
            $(`#stream-title`).val(data.streamTitle);
            $(`#display-name`).val(data.displayName);
            $(`#stream-description`).val(data.streamDescription);
            $(`#donation-link`).val(data.donationLink);
            $(`#stream-key`).val(data.streamKey);
        });
    });

    $(`#dashboard-update-info`).on(`click`, e => {
        e.preventDefault();

        $(`#dashboard-update-info`).attr(`disabled`, true);

        $.ajax({
            type: `post`,
            url: `/dashboard`,
            data: $(`#dashboard-form`).serialize()
        }).then(() => window.location.reload());
    });

    $(`#account-update-pfp`).on(`click`, e => {
        e.preventDefault();
        $(`#account-update-pfp`).attr(`disabled`, true);
        let uploadfile = $("input[name=avatar]")[0].files[0];
        let data = new FormData();
        data.append(`avatar`, uploadfile)
        $.ajax({
            type: `post`,
            url: `/accountoptions/updatepfp`,
            processData: false,
            contentType: false,
            cache: false,
            data: data
        }).then(() => window.location.reload());
    });

    $(`#account-update-info`).on(`click`, e => {
        e.preventDefault();

        $(`#account-update-info`).attr(`disabled`, true);

        $.ajax({
            type: `post`,
            url: `/accountoptions/updateinfo`,
            data: $(`#account-options-form`).serialize()
        }).then(() => window.location.reload());
    });


    $(`#reset-streamkey`).on(`click`, e => {
        e.preventDefault();
        $(`#reset-streamkey-info`).attr(`disabled`, true);

        $.ajax({
            type: `post`,
            url: `/changestreamkey`,
        }).then(() => window.location.reload());
    });

    $(`#reveal-stream-key`).change(() => {
        let streamKey = document.querySelector(`#stream-key`);
        $(`#stream-key`).attr(`type`, streamKey.type === `password` ? `text` : `password`);
    });
</script>