<%- include('./partials/header'); %>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body" style="background-color: #b1cbe6;">
            <h1 class="text-center">Please check your email...</h1>
            <br>
            <p><b>You have clicked on the button to delete your account.</b></p>
            <br>
            <p>To prevent accidental deletions, we have sent a confirmation email to your email address</p>
            <p>Click the link that was sent to your email to confirm deletion your account. if you did not mean to do this, please ignore and delete the email.</p>
        </div>
        <br>
    </div>
</div>