<%- include('./partials/header'); %>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body" style="background-color: #b1cbe6;">
            <h1 class="text-center">Looks like you have not linked your Donation Page...</h1>
            <br>
            <p>You can use services like <b>Streamlabs</b> or <b>Streamelements</b> or anything that provides a link to donate to you.</p>
            <br>
            <p>Go to your <b>Dashboard</b> and paste your link in the <b>Donation Link</b> field. Save your changes by pressing <b>Update Stream Information</b> below it.</p>
            <img src="/assets/img/donationlink.png">
        </div>
        <br>
    </div>
</div>
<%- include('./partials/footer'); %>