<%- include('./partials/header'); %>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body" style="background-color: #b1cbe6;">
            <h1 class="text-center">Log In</h1>
            <br>
            <form action="/login" id="login-form" method="POST">
                <div id="login-error" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span id="login-error-message"></span>
                </div>
                <div class="form group">
                    <label for="username">Username</label>
                    <input type="username" id="login-username" class="form-control" placeholder="Enter Username"
                        autocomplete="username" required>
                    <br>
                    <label for="password">Password</label>
                    <input type="password" id="login-password" class="form-control" placeholder="Enter Password"
                        autocomplete="new-password" required>
                    <br>
                    <input type="submit" id="login-button" value="Login" class="btn btn-primary btn-block">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => $(`#login-error`).hide());

    $(`#login-button`).on(`click`, e => {
        e.preventDefault();

        $(`#login-button`).attr(`disabled`, true);
        $(`#login-error`).hide();

        $.ajax({
            type: `post`,
            url: `/login`,
            data: $(`#login-form`).serialize()
        }).then(res => {
            if (res.errors) {
                $(`#login-button`).attr(`disabled`, false);
                $(`#login-error`).show();

                $(`#login-error-message`).text(res.errors);
                return false;
            } else if (res.success) {
                $(`#login-button`).attr(`disabled`, false);
                window.location.reload();
                return true;
            }
        });
    });
</script>