<%- include('./partials/header'); %>
<link rel="stylesheet" href="/assets/css/staff.css">
<div class="row mt-5">
	<div class="col-md-6 m-auto">
		<div class="card card-body" style="background-color: #b1cbe6;">
			<h1 class="text-center">Our Staff Team</h1>
			<div class="staff-card">
				<img src="/assets/img/chat/badges/staff.png" class="card-avatar" alt="LightWarp's profile picture">
				<span class="card-name">LightWarp</span>
				<span class="card-position">Owner</span>
			</div>
			<div class="staff-card">
				<img src="/assets/img/chat/badges/staff.png" class="card-avatar" alt="LightWarp's profile picture">
				<span class="card-name">DamienVesper</span>
				<span class="card-position">Developer</span>
			</div>
			<div class="staff-card">
				<img src="/assets/img/chat/badges/staff.png" class="card-avatar" alt="LightWarp's profile picture">
				<span class="card-name">sev</span>
				<span class="card-position">Developer</span>
			</div>
			<div class="staff-card">
				<img src="/assets/img/chat/badges/staff.png" class="card-avatar" alt="LightWarp's profile picture">
				<span class="card-name">prof_raptor</span>
				<span class="card-position">Community Manager</span>
			</div>
			<div class="staff-card">
				<img src="/assets/img/chat/badges/staff.png" class="card-avatar" alt="LightWarp's profile picture">
				<span class="card-name">SolarSoldier</span>
				<span class="card-position">Moderator</span>
			</div>
			<div class="staff-card">
				<img src="/assets/img/chat/badges/staff.png" class="card-avatar" alt="LightWarp's profile picture">
				<span class="card-name">Donut</span>
				<span class="card-position">Moderator</span>
			</div>
		</div>
	</div>
</div>