<%- include('./partials/header'); %>
<link rel="stylesheet" href="/assets/css/staff.css">
<style>
img.staffPFP {
  border-radius: 50%;
}
</style>
<div class="row mt-5">
	<div class="col-md-6 m-auto">
		<div class="card card-body" style="background-color: #b1cbe6;">
			<h1 class="text-center">Our Staff Team</h1>
			<div class="staff-card">
				<img class="staffPFP"src="/assets/img/staff/lightwarp.png" class="card-avatar" alt="LightWarp's profile picture" width="45" height="45">
				<span class="card-name"><b>LightWarp</b></span>
				<span class="card-position">Owner</span>
			</div>
			<br>
			<div class="staff-card">
				<img class="staffPFP"src="/assets/img/staff/raptor.jpeg" class="card-avatar" alt="LightWarp's profile picture" width="45" height="45">
				<span class="card-name"><b>professor_raptor</b></span>
				<span class="card-position">Community Manager</span>
			</div>
			<br>
			<div class="staff-card">
				<img class="staffPFP"src="/assets/img/staff/sev.gif" class="card-avatar" alt="LightWarp's profile picture" width="45" height="45">
				<span class="card-name"><b>sev</b></span>
				<span class="card-position">Community Manager & Developer</span>
			</div>
			<br>
			<div class="staff-card">
				<img class="staffPFP"src="/assets/img/staff/vesper.gif" class="card-avatar" alt="LightWarp's profile picture" width="45" height="45">
				<span class="card-name"><b>DamienVesper</b></span>
				<span class="card-position">Developer</span>
			</div>
			<br>
			<div class="staff-card">
				<img class="staffPFP"src="/assets/img/staff/solar.png" class="card-avatar" alt="LightWarp's profile picture" width="45" height="45">
				<span class="card-name"><b>SolarSoldier</b></span>
				<span class="card-position">Moderator</span>
			</div>
			<br>
			<div class="staff-card">
				<img class="staffPFP"src="/assets/img/staff/donut.png" class="card-avatar" alt="LightWarp's profile picture" width="45" height="45">
				<span class="card-name"><b>Donut</b></span>
				<span class="card-position">Moderator</span>
			</div>
		</div>
	</div>
</div>