<%- include('./partials/header'); %>
<style>
	li.test {
		font-size: 28px;
		font-weight: bold;
		color: #000000;
		display: inline;
	}
</style>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body" style="background-color: #b1cbe6;">
			<h1 class="text-center">Throwdown.TV Staff</h1>
			<ul style="list-style-type: none;">
				<li class="test"><img src="/assets/img/chat/badges/staff.png" id="staffbadge" width="30" height="30" alt="[Throwdown Staff]" title="Throwdown TV Staff"></img> LightWarp</li> <p style="display: inline; size: 28px;">- Owner</p>
				<br></br>
				<li class="test"><img src="/assets/img/chat/badges/staff.png" id="staffbadge" width="30" height="30" alt="[Throwdown Staff]" title="Throwdown TV Staff"></img> sev</li> <p style="display: inline; size: 28px;">- Developer, Community Manager</p>
				<br></br>
				<li class="test"><img src="/assets/img/chat/badges/staff.png" id="staffbadge" width="30" height="30" alt="[Throwdown Staff]" title="Throwdown TV Staff"></img> Raptor[Temp]</li> <p style="display: inline; size: 28px;">- Community Manager</p>
				<br></br>
				<li class="test"><img src="/assets/img/chat/badges/staff.png" id="staffbadge" width="30" height="30" alt="[Throwdown Staff]" title="Throwdown TV Staff"></img> DamienVesper</li> <p style="display: inline; size: 28px;">- Developer, Administrator</p>
				<br></br>
				<li class="test"><img src="/assets/img/chat/badges/staff.png" id="staffbadge" width="30" height="30" alt="[Throwdown Staff]" title="Throwdown TV Staff"></img> Donut</li> <p style="display: inline; size: 28px;">- Moderator</p>
				<br></br>
				<li class="test"><img src="/assets/img/chat/badges/staff.png" id="staffbadge" width="30" height="30" alt="[Throwdown Staff]" title="Throwdown TV Staff"></img> SolarSoldier</li> <p style="display: inline; size: 28px;">- Moderator</p>
			</ul>
		</div>
	</div>
</div>
			