<%- include('./partials/header'); %>
<link rel="stylesheet" href="/assets/css/streamer.css">
<div class="stream-overlay">
    <div class="stream-popout">
        <video id="live-stream" class="video-js vjs-fluid vjs-big-play-centered" controls preload="auto" autoplay="true"
            fluid="true" width="1280" height="720" poster="/assets/img/thumbnail.png">
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
        <div class="info-box">
            <img src="/assets/img/defaultpfp.png" class="rounded-circle profile-picture mr-3" alt="Profile picture">
            <div class="streamer-content">
                <span id="stream-title" class="lead mb-3"></span>
                <br>
                <span id="stream-display-name" class="lead mb-3"></span>
                <div class="description-box" id="stream-description"></div>
            </div>
            <div class="streamer-buttons">
                <div>
                    <span class="btn btn-sm btn-primary" id="follow-btn" style="margin-right: 5px;">Follow</span>
                    <a class="btn btn-sm btn-success" id="donation-link">Donate</a>
                </div>
            </div>
        </div>
    </div>
    <iframe class="chat-popout" frameborder="0" height="720px"></iframe>
</div>
<script>
    $(document).ready(() => {
        const streamer = window.location.pathname.split(`/`)[1].toLowerCase();
        $(`.chat-popout`).attr(`src`, `/chat/${streamer}`);

        let player = videojs(`live-stream`, {
            controls: true,
            autoplay: true,
            preload: `auto`
        });

        fetch(`/api/public-stream-data/${streamer}`).then(data => data.json()).then(data => {
            $(`#stream-display-name`).text(data.displayName);
            $(`#stream-title`).text(data.streamTitle);
            $(`#stream-description`).html(data.streamDescription);
            $(`#donation-link`).attr(`href`, `${data.donationLink}`);
        });

        setInterval(() => {
            fetch(`/api/public-stream-data/${streamer}`).then(data => data.json()).then(data => {
                if (data.isSuspended) return window.location.reload();
            });
        }, 5000)

        player.src({
            src: `https://us01.throwdown.tv/live/${streamer}.flv`,
            type: `video/x-flv`
        });

        player.on(`error`, event => {
            player.src({
                src: `/assets/video/throwdown.mp4`,
                type: `video/mp4`
            });
        });
    });
</script>