<%- include('./partials/header'); %>
<link rel="stylesheet" href="/assets/css/streamer.css">
<div class="stream-overlay">
    <div class="stream-popout">
        <video id="live-stream" class="video-js vjs-fluid vjs-big-play-centered" controls preload="auto" autoplay="true"
            fluid="true" width="1280" height="720" poster="/assets/img/thumbnail.png">
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
        <div class="info-box">
            <div class="row px-3 "> <img src="/assets/img/defaultpfp.png" class="rounded-circle profile-picture mr-3" alt="profile picture">
                <div class="flex-column" style="margin-bottom: 0px; margin-left: 10px;">
                    <div class="row">
                        <P id="stream-title" class="lead mb-3 stream-title">Test</P>
                    </div>
                    <div class="row">
                        <p id="stream-display-name" style="color: lime; font-size: 15px; margin-right: 4px;" class="lead mb-3">TestUsername</p>

                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary streamer-button">Follow</button>
                        <a id="donation-link" type="button" class="btn btn-success streamer-button" role="button">Donate</a>
                    </div>
                </div>
            </div>
            <div class="description-box" id="stream-description"></div>
        </div>
        
    </div>
    <iframe class="chat-popout" frameborder="0" height="720px"></iframe>
</div>
<script>
    $(document).ready(() => {
        const streamer = window.location.pathname.split(`/`)[1].toLowerCase();
        $(`iframe`).attr(`src`, `/chat/${streamer}`)

        let player = videojs(`live-stream`, {
            controls: true,
            autoplay: true,
            preload: `auto`,
        });

        fetch(`/api/public-stream-data/${streamer}`).then(data => data.json()).then(data => {
            $(`#stream-display-name`).text(data.displayName);
            $(`#stream-title`).text(data.streamTitle);
            $(`#stream-description`).html(data.streamDescription);
            $(`#donation-link`).attr(`href`, `${data.donationLink}`);
        });

        setInterval(() => {
            fetch(`/api/public-stream-data/${streamer}`).then(data => data.json()).then(data => {
                if (data.isSuspended) return window.location.reload(true);
                console.log('not banned yet')
            })
        }, 5000)

        player.src({
            src: `https://us01.throwdown.tv/live/${streamer}.flv`,
            type: `video/x-flv`
        });

        player.on(`error`, event => {
            player.src({
                src: `/assets/video/throwdown.mp4`,
                type: `video/mp4`
            });
        });
    });
</script>