<%- include('./partials/header'); %>
<div class="row mt-5">
    <div class="col-6 col-md-4">
        <iframe src="" frameborder="0"></iframe>
    </div>
</div>

<script>
    $(document).ready(() => $(`iframe`).attr(`src`, `/chat/${window.location.pathname.split(`/`)[1]}`));
</script>