<%- include('./partials/header'); %>
<link rel="stylesheet" href="/assets/css/streamer.css">
<div class="stream-overlay">
    <iframe class="chat-popout" frameborder="0" height="720px"></iframe>
</div>
<script>
    $(document).ready(() => $(`iframe`).attr(`src`, `/chat/${window.location.pathname.split(`/`)[1]}`));
</script>