<%- include('./partials/header'); %>
<link rel="stylesheet" href="/assets/css/streamer.css">
<div class="stream-overlay">
    <div class="stream-popout">
        <video id="live-stream" class="video-js vjs-fluid vjs-big-play-centered" controls preload="auto" autoplay="true"
            fluid="true" width="1280" height="720" poster="/assets/img/thumbnail.png">
            <source src="https://filesamples.com/samples/video/flv/sample_1280x720.flv" type="video/x-flv">
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
    </div>
    <iframe class="chat-popout" frameborder="0" height="720px"></iframe>
</div>
<script>
    $(document).ready(() => {
        const streamer = window.location.pathname.split(`/`)[1].toLowerCase();
        $(`iframe`).attr(`src`, `/chat/${streamer}`)

        let player = videojs(`live-stream`, {
            controls: true,
            autoplay: true,
            preload: `auto`,
        });

        player.src({
            src: `https://us01.throwdown.tv/live/${streamer}.flv`,
            type: `video/flv`
        });

        player.on(`error`, event => {
            player.src({
                src: `/assets/video/throwdown.mp4`,
                type: `video/mp4`
            });
        });
    });
</script>