<%- include('./partials/header'); %>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<style>
    .center{
        display: flex;
        width: 100%;
        justify-content: center;
    }
</style>
<br>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body" style="background-color: #b1cbe6;">
            <p class="vip-page-p" style="font-size: 40px;">Subscribe for a VIP membership</p>
            <p class="vip-page-p" style="font-size: 20px;">Support Free Speech and get the following perks:</p>
            <div class="col-md-6 m-auto">
                <li>10 Sticker Slots</li>
                <li>VIP Badge in Chat and Channel</li>
                <li>Premium Stream Servers <span style="font-weight: bold;">(WIP)</span></li>
                <p>More perks coming soon...</p>
            </div>
            <br>
            <form action="/vip/subscribe" method="POST">
                <input type="submit" id="subscribe-button" value="Subscribe (10$ Monthly)" class="btn btn-primary btn-block">
            </form>
        </div>
    </div>
</div>

<%- include('./partials/footer'); %>