<%- include('./partials/header'); %>
<script src="https://js.stripe.com/v3/"></script>
<style>
    .center{
        display: flex;
        width: 100%;
        justify-content: center;
    }
</style>
<br>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body" style="background-color: #b1cbe6;">
            <p class="vip-page-p" style="font-size: 40px;">Subscribe for a VIP membership</p>
            <p class="vip-page-p" style="font-size: 20px;">Support Free Speech and get the following perks:</p>
            <div class="col-md-6 m-auto">
                <li>10 Sticker Slots</li>
                <li>VIP Badge in Chat and Channel</li>
                <li>Premium Stream Servers <span style="font-weight: bold;">(WIP)</span></li>
                <p>More perks coming soon...</p>
            </div>
            <br>
            <div class="center">
                <form id="subscribe-form" action="/vip/subscribe" method="post">
                    <script src="https://checkout.stripe.com/checkout.js" id="subscribe" class="stripe-button" style="text-align: center; width: 100%;"
                        data-key="pk_live_51IM9GbKPLdW4fjoHTHo3MKGM3C06U0tu7QA1a3QJk6EzNoJEcB5q26p8PiYYQsvM1295PMeQ8Pc57ZQOEQwBI9Md00b9wqLMtW"
                        data-amount="1000"
                        data-name="ThrowdownTV VIP Membership"
                        data-description="Monthly VIP Membership"
                        data-image="/assets/img/throwdown.png"
                        data-currency="usd">
                    </script>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(`#subscribe`).html(`Subscribe (10$ Monthly)`)
</script>