<%- include('./partials/header'); %>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body" style="background-color: #b1cbe6;">
            <h1 class="text-center">Terms of Service</h1>

            <p>Voluntarily broadcasting <b>NSFW</b> / <b>NSFL</b> is prohibited.</p>

            <p>This includes:</p>
            <ul>
                <li>Pornography (Live action and animated).</li>
                <li>Nudity (any participant on broadcast exposing themselves).</li>
                <li>Gore (any visual content involving blood / injury / death).</li>
                <li>Disgusting content (including and not limited to scat, vomit, and any other bodily fluids).</li>
            </ul>
            <p>The only exception to this is video game nudity / gore; however, games deemed to be dedicatedly NSFW are
                not allowed.</p>

            <div class="breaker"></div>

            <p>No condoning or performing illegal activity on broadcast. You must follow the laws within your region.
            </p>
            <ul>
                <li>Cyber crimes (doxxing, swatting, hacking, etc).</li>
                <li>Encouraging child abuse (physical / sexual).</li>
                <li>Threats of serious harm.</li>
            </ul>

            <div class="breaker"></div>

            <p>We do not platform predators or sex offenders. Regardless of conviction status, if there is evidence of
                predatory behavior / actions or a criminal record, you will not be allowed to have a platform.</p>
            <p>Illegal behavior includes, but is not limited to:</p>

            <ul>
                <li>Child abuse / predatory behavior towards minors (physical / verbal / mental abuse).</li>
                <li>Sexual assault / battery.</li>
            </ul>

            <div class="breaker"></div>

            <p>Do not stream dedicated broadcasts for copyrighted material.</p>
            <p>This includes:</p>

            <ul>
                <li>Movies.</li>
                <li>TV shows.</li>
                <li>Copyrighted music.</li>
            </ul>

            <div class="breaker"></div>

            <p>Do not post private information. Information private to oneself does not count. Contact us via <a
                    href="https://discord.me/throwdowntv">Discord</a> to file a privacy complaint.</p>

            <div class="breaker"></div>

            <p>We at ThrowdownTV and its parent company do not endorse anything aired / said by the users / streamers on
                this website. We are merely a platform for free speech, not a publisher.</p>
            <p>We also reserve the right to change the Terms of Service at will.</p>

            <div class="breaker"></div>
            <p class="text-center">&copy; Datcen Haven Technologies Private Limited - Chennai, India</p>
        </div>
        <br>
    </div>
</div>