<%- include('./partials/header'); %>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body" style="background-color: #b1cbe6;">
            <h1 class="text-center">Terms of Service</h1>

            <h2>For Streamers</h2>
            <p>Voluntarily broadcasting <b>NSFW</b> / <b>NSFL</b> is prohibited.</p>

            <p>This includes:</p>
            <ul>
                <li>Pornography (Live action and animated).</li>
                <li>Nudity (any participant on broadcast exposing themselves).</li>
                <li>Gore (any visual content involving blood / injury / death).</li>
                <li>Disgusting content (including and not limited to scat, vomit, and any other bodily fluids).</li>
            </ul>
            <p>The only exception to this is video game nudity / gore; however, games deemed to be dedicatedly NSFW are
                not allowed.</p>

            <div class="breaker"></div>

            <p>No condoning or performing illegal activity on broadcast. You must follow the laws within your region.
            </p>
            <ul>
                <li>Cyber crimes (doxxing, swatting, hacking, etc).</li>
                <li>Encouraging child abuse (physical / sexual).</li>
                <li>Threats of serious harm.</li>
            </ul>

            <div class="breaker"></div>
        </div>
    </div>
</div>